.env
__pycache__/
custom_entrypoint.sh
hive_site.xml
iceberg.properties
config.properties
node.properties
jvm.config
log.properties
*_bak
platform_setup/database_setup_sql_scripts/16_user_creation.sql
import.log
*.log
docker-compose_backup.yml